/datasets/
**/.ipynb_checkpoints/
**/__pycache__/
/.Trash-0/
/warc_yearly/ipmaxmind_out/
/warc_yearly/ipmaxmind_out_*/
# /warc_yearly/ipmaxmind_out_*/
/warc_yearly/script_extraction_out/
/warc_yearly/script_extraction_out_*/
#/warc_yearly/script_extraction_out_2024/
/warc_yearly/success/
/warc_yearly/unsuccessful/
/year_test_dir/
/spark_qa/jslibs_co_occ_2023/
/spark_qa/jslibs_co_occ_2024/
/.ssh/
/yearly_retry/
/hfdata/
**.db
**script_extraction_out**
